@charset "UTF-8";

.inner {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 80px 0 0 0;
}
.sub1-list {}
.sub1-list ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid #333;
  font: 500 15px/1.5 'Noto Sans KR', sans-serif;
}
.sub1-list ul li a {
  display: block;
  width: 190px;
}
.sub1-list ul li:nth-child(2) a {
  color: #111;
}
.sub1-list ul li a:hover {
  color: #111;
}

.content {
  width: 700px;
}
.location {
  padding: 0 0 30px 0;
}
section {
  width: 100%;
}
section h2 {
  padding: 30px 0 50px 0;
  font: 700 40px/1.2 'Noto Sans KR', sans-serif;
  color: #333;
}
.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 340px;
  padding: 0 0 0 447px;
}
.tab1 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/yuzuTea.png) no-repeat;
}
.tab2 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/strawberryLt.png) no-repeat;
}
.tab3 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/sweetPotatolt.png) no-repeat;
}
.tab4 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/appleTea.png) no-repeat;
}
.tab5 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/milkbubbleTea.png) no-repeat;
}
.tab6 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/blacksugarbubbleTea.png) no-repeat;
}
.tab7 {
  display: none;
  background: url(/practice/hollys/html/img/sub1/sub1-2/chamomileTea.png) no-repeat;
}
.tabon {
  display: flex;
}
section article h3 {
  padding: 30px 0;
  font: 700 30px/1.2 'Noto Sans KR', sans-serif;
  color: #333;
}
section article p {}

.menu-list {
  padding: 80px 0;
}
.menu-list ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.menu-list ul li a {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 94px;
  height: 120px;
  padding: 90px 0 0 0;
  text-align: center;
  font-size: 12px;
  background-size: 94px;
  background-repeat: no-repeat;
}
.menu-list ul li:nth-child(1) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/yuzuTea.png);
}
.menu-list ul li:nth-child(2) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/strawberryLt.png);
}
.menu-list ul li:nth-child(3) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/sweetPotatolt.png);
}
.menu-list ul li:nth-child(4) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/appleTea.png);
}
.menu-list ul li:nth-child(5) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/milkbubbleTea.png);
}
.menu-list ul li:nth-child(6) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/blacksugarbubbleTea.png);
}
.menu-list ul li:nth-child(7) a {
  background-image: url(/practice/hollys/html/img/sub1/sub1-2/chamomileTea.png);
}